a,
section.hero .ip_demo .ip_body .switch_menu a:hover,
section.hero.pricing .cycle a:hover,
section.showoff .container .grid_menu a:hover {
  text-decoration: none;
}

body {
  background: #184157;
  /* background-color: #fff */
  color: #000;
  font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  white-space: nowrap;
  width: 230px;
  height: 60px;
  border-radius: 3px;
  padding: 20px 12px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  margin-right: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.05), 0 1px 3px rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin-bottom: 0;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  line-height: 1.42857;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.box {
  background-color: #ebeff4;
  padding: 10px;
  border-radius: 5px;
}

.button,
.header .logo a,
.header ul > li > a,
section.hero .container h2,
section.hero .container h4 {
  font-family: Promo, Helvetica, Arial, sans-serif;
}

.container.custom-container {
  display: flex;
  justify-content: flex-start;
}

.container, section .container {
  padding-right: 15px;
  max-width: 1170px;
  padding-left: 15px;
  position: relative;
}

.container, section, section .container {
  margin-right: auto;
  margin-left: auto;
}

.container:after,
.header .logo:after,
.header ul:after {
  clear: both;
}

.container:after, .header .logo:after, .header ul:after {
  clear: both;
}

.clearfix:after, .clearfix:before, .container:after, .container:before {
  display: table;
  content: " ";
}

.copyright-link {
  margin-top: 70px;
  margin-bottom: 15px;
}
.copyright-link a {
  color: #fff;
}

.copyright-text {
  font-size: 12px;
}
.copyright-text a {
  color: #fff;
  text-decoration: underline;
}

div {
  display: block;
}

footer {
  text-align: center;
  padding: 50px 0;
  background: #184157;
  font-size: 14px;
  color: #fff;
}

footer .right_side,
footer ul {
  display: inline-block;
  text-align: left;
  width: 150px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  line-height: 30px;
}

footer ul li.heading {
  color: #fff;
  margin-bottom: 10px;
  font-family: Promo, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

footer ul li a {
  color: #fff;
  cursor: pointer;
}

footer .right_side {
  font-size: 12px;
  position: relative;
  top: 3px;
  vertical-align: top;
  width: 250px;
}

footer .right_side span {
  font-size: 12px;
  color: #f5f5f5;
}

footer .right_side span a {
  color: inherit;
}

footer .right_side img {
  display: block;
}

footer .right_side table {
  width: -moz-min-content;
  width: min-content;
  margin-top: 15px;
}

footer .right_side table img {
  margin: 0;
  vertical-align: unset;
}

footer .socials {
  margin-bottom: 13px;
}

footer .socials a {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../site_images/github-original.svg);
  margin-right: 5px;
}

footer .socials a.twitter {
  background: url(../site_images/twitter-original.svg) center no-repeat;
  background-size: contain;
}

footer .socials a.github {
  background: url(../site_images/github-original.svg);
}

footer .socials a.facebook {
  background: url(../site_images/facebook-original.svg);
}

footer .socials a.linkedin {
  background: url(../site_images/linkedin-original.svg);
}

footer p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 40px;
  padding-top: 10px;
  font-size: 13px;
  margin-bottom: 0;
}

.friendly {
  font-family: "Dancing Script", sans-serif;
}

h1 {
  font-size: 70px;
  line-height: 92px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h2 {
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-size: 40px;
  line-height: 43px;
}

h4 {
  font-size: 16px;
}

.h4, h4 {
  font-size: 18px;
}

h4, p {
  line-height: 30px;
}

.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h5, h5 {
  font-size: 14px;
}

h5, p {
  font-size: 14px;
  line-height: 20px;
}

h6 {
  font-size: 12px;
}

*, :after, :before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

li {
  text-align: -webkit-match-parent;
}

p {
  margin: 0 0 10px;
}

ul {
  list-style-type: disc;
}

.header {
  right: 0;
  left: 0;
  z-index: 1030;
  border-radius: 0;
  top: 0;
  position: absolute;
  background-color: transparent;
  border: none;
  height: 70px;
}

.header .logo {
  float: left;
  padding-left: 15px;
}

.header ul {
  margin: 0;
  float: right;
  padding-left: 0;
  list-style: none;
}

.header ul > li {
  float: left;
}

.header ul > li > a {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 35px;
  margin: 16px 15px 19px;
}

.header ul > li,
.header ul > li > a {
  display: -webkit-inline-box;
  position: relative;
}

.header ul > li.status > a:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 25px;
  display: inline-block;
  background-color: #47c652;
  position: relative;
  top: 1px;
  left: -6px;
  margin-left: 4px;
}

.header ul > li.status > a {
  padding: 0 10px 1px;
  border-radius: 3px;
  background: 0 0;
  margin-right: 0;
  margin-left: 6px;
}

.header ul > li.action > a {
  background: rgba(255, 255, 255, 0.15);
  padding: 0 10px;
  border-radius: 3px;
  margin-right: 0;
}

.header ul > li.action.login > a {
  padding: 0 10px 1px;
}

.header ul > li.action.cta > a {
  background: #f47b21;
  color: #fff;
  text-transform: uppercase;
  padding: 0 10px 1px;
  margin-right: 0;
}

.header.light_background ul > li.action.cta > a {
  background: #1d3d76;
}

.header ul > li.go_to_dashboard > a {
  background: rgba(255, 255, 255, 0.15);
}

.header .logo a {
  color: #333;
  margin-top: 14px;
  font-weight: 700;
  float: left;
  font-size: 24px;
  line-height: normal;
  margin-left: -15px;
}

.inline {
  display: inline-block;
}

.icon {
  margin-bottom: 5px;
  font-family: Linearicons;
  font-size: 30px;
  vertical-align: middle;
  display: inline-block;
  text-transform: none;
  font-weight: 300;
  margin-right: 10px;
}

.right_side.copyright-section {
  width: 27%;
}

section {
  width: 100%;
}

section.cta {
  padding: 45px 30px 50px 30px;
  font-family: Promo, Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  background: #eef2f5;
  background-size: 20%;
  background-repeat: no-repeat;
}

section.cta.below_code_examples {
  margin-top: -105px;
  background: 0 0;
  padding-bottom: 45px;
}

section.cta.in_preapp {
  background: rgba(0, 0, 0, 0.15);
  margin-top: -120px;
  color: #ffffff;
}

section.cta p {
  font-size: 17px;
  margin-bottom: 0;
  font-weight: 300;
}

section.cta p span {
  padding-right: 30px;
  font-weight: 300;
  position: relative;
  top: 1px;
}

section.cta a {
  background: #f47b21;
  padding: 17px 15px;
  width: auto;
  height: auto;
  margin-left: 20px;
  color: #fff;
  border-radius: 3px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  /* top: -1px */
  position: relative;
}

section.cta p span:after {
  font-family: Linearicons;
  font-size: 20px;
  display: inline-block;
  speak: none;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 0;
  content: "\e944";
  position: relative;
  position: absolute;
}

section.customers {
  padding: 40px 0 12px;
  background: #eff2f5;
}

section.customers ul {
  padding: 0;
  list-style: none;
  margin: 0;
  text-align: center;
}

section.customers ul li {
  font-family: Promo, Helvetica, Arial, sans-serif;
  display: inline-block;
  width: 187px;
  height: 50px;
  background: url(https://userstack.com/site_images/cust_accenture.png);
  background-size: 138px;
  position: relative;
}

section.customers ul li:nth-child(1) {
  font-weight: 300;
  font-size: 15px;
  background: 0 0;
  width: 185px;
  top: -19px;
  text-align: left;
}

section.customers ul li:nth-child(1) span {
  border-bottom: 2px solid;
}

section.customers ul li.daimler {
  background: url(../site_images/client_daimler.svg);
  background-size: 138px;
  background-position: center;
  background-repeat: no-repeat;
}

section.customers ul li.deloitte {
  background: url(../site_images/client_deloitte.svg);
  background-size: 120px;
  background-position: center;
  background-repeat: no-repeat;
}

section.customers ul li.warnerbros {
  background: url(../site_images/client_warnerbros.svg);
  background-size: 48px;
  background-position: center;
  background-repeat: no-repeat;
  width: 110px;
}

section.customers ul li.wawa {
  background: url(../site_images/client_wawa.svg);
  background-size: 85px;
  background-position: center;
  background-repeat: no-repeat;
  top: -4px;
  width: 132px;
  left: 4px;
}

section.customers ul li.schneider {
  background: url(../site_images/client_schneider.svg);
  background-size: 125px;
  background-position: center;
  background-repeat: no-repeat;
  top: 4px;
}

section.customers ul li.microsoft {
  background: url(../site_images/client_microsoft.svg);
  background-size: 135px;
  background-position: center;
  background-repeat: no-repeat;
}

section.customers ul li.ericsson {
  background: url(../site_images/client_ericsson_2.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 112px;
  top: -1px;
}

section.grid {
  background: #ffffff;
  padding: 45px 0 50px 0;
  text-align: center;
}

section.grid h4 {
  font-size: 25px;
  line-height: normal;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 300;
  font-family: Promo, Helvetica, Arial, sans-serif;
}

section.grid h5 {
  font-size: 20px;
  line-height: normal;
  max-width: 600px;
  text-align: center;
  margin: 20px auto 0;
}

section.grid ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-top: 45px;
}

section.grid ul li {
  display: inline-block;
  width: 250px;
  height: 100px;
  background: gray;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

section.grid ul li.daimler {
  background: #263e6a url(../site_images/client_white_daimler.svg);
  background-size: 175px;
  background-repeat: no-repeat;
  background-position: center;
}

section.grid ul li.deloitte {
  background: #eef2f5 url(../site_images/client_deloitte.svg);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
}

section.grid ul li.ericsson {
  background: #01275b url(../site_images/client_white_ericsson_2.svg);
  background-size: 65px;
  background-repeat: no-repeat;
  background-position: center;
  width: 135px;
}

section.grid ul li.microsoft {
  background: #eef2f5 url(../site_images/client_microsoft.svg);
  background-size: 175px;
  background-repeat: no-repeat;
  background-position: center;
}

section.grid ul li.schneider {
  background: #009e4d url(../site_images/client_white_schneider.svg);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  margin-right: 0;
}

section.grid ul li.warnerbros {
  background: #027ac2 url(../site_images/client_white_warnerbros.svg);
  background-size: 65px;
  background-repeat: no-repeat;
  background-position: center;
  width: 190px;
}

section.grid ul li.wawa {
  background: #ee2e25 url(../site_images/client_white_wawa.svg);
  background-size: 110px;
  background-repeat: no-repeat;
  background-position: center;
}

section.grid ul li.canda {
  background: #eef2f5 url(../site_images/client_canda.svg);
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: center;
  width: 135px;
}

section.grid ul li.rimowa {
  background: #eef2f5 url(../site_images/client_rimowa.svg);
  background-size: 155px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0;
}

section.grid ul li.mckinsey {
  background: #23477f url(../site_images/client_mckinsey.svg);
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 10px;
  width: 260px;
}

section.hero {
  background: url(../site_images/mountains.svg), linear-gradient(135deg, #1f4e69 0, #164058 100%);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 140px 0 160px 0;
}
section.hero .container .cta {
  background: #f47b21;
  margin-top: 20px;
  text-align: center;
}
section.hero .container .cta + span.friendly {
  font-size: 19px;
  position: relative;
  top: 10px;
  left: 10px;
}
section.hero .container .h2 {
  font-weight: 500;
  letter-spacing: 0;
  margin-bottom: 20px;
  font-size: 32px;
  margin-top: 0;
}
section.hero .container h4 + .number_customers {
  font-size: 17px;
  font-family: Promo, Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 25px;
  display: block;
  border: 0 solid rgb(255, 255, 255);
  border-radius: 17px;
  padding: 6px 10px 13px 16px;
  line-height: 20px;
  width: 388px;
  background: rgba(255, 255, 255, 0.1);
}
section.hero .container h4 + .number_customers span.lnr {
  display: inline-block;
  font-weight: 400;
  font-size: 25px;
  margin-top: 0;
  position: relative;
  left: 0;
  top: 5px;
  margin-right: 10px;
}
section.hero .container .weather_animated {
  height: 300px;
  width: 500px;
  position: absolute;
  border-radius: 10px;
  right: 15px;
  top: 14px;
  border: 4px solid #608094;
  background: #16394c;
}
section.hero .container .weather_animated i {
  background: url(../site_images/weather_icon_partly_cloudy.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 70px;
  position: absolute;
}
section.hero .container .weather_animated i .partly_cloudy {
  background: url(../site_images/weather_icon_partly_cloudy.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 19px !important;
}
section.hero .container .weather_animated .location {
  display: block;
  height: 40px;
  text-align: center;
  padding-top: 15px;
}
section.hero .container .weather_animated .location span {
  font-weight: bold;
}

section.hero .container .weather_animated .main_left {
  float: left;
  width: 275px;
  height: 137px;
}

section.hero .container .weather_animated .main_left i {
  background-size: cover;
  width: 140px;
  height: 137px;
  left: 22px;
  top: 10 px !important;
}

section.hero .container .weather_animated .main_left span {
  position: absolute;
  top: 130px;
  left: 40px;
  font-weight: bold;
  width: 100px;
  text-align: center;
}

section.hero .container .weather_animated .main_right {
  float: right;
  /* width: 215px */
  height: 137px;
  padding-top: 26px;
  position: absolute;
  left: 67px;
  left: unset;
  right: 37px;
  text-align: left;
}

section.hero .container .weather_animated .main_right span {
  display: block;
  margin-bottom: 2px;
  font-size: 13px;
}

section.hero .container .weather_animated .main_right .temperature {
  position: absolute;
  left: -135px;
  top: 33px;
  font-size: 32px;
}

section.hero .container .weather_animated .week {
  clear: both;
  display: block;
  width: 100%;
  text-align: center;
}

section.hero .container .weather_animated .week .day {
  display: inline-block;
  width: 95px;
  height: 107px;
  position: relative;
}

section.hero .container .weather_animated .week .day i {
  top: 14px;
  left: 16px;
  background-size: 60px;
}

section.hero .container .weather_animated .week .day .temperature {
  position: absolute;
  bottom: 11px;
  width: 100%;
  left: 2px;
  font-size: 14px;
  font-weight: 600;
}

section.main_feature {
  background: #ffffff;
  padding: 25px 0 65px 0;
}

section.main_feature .details {
  float: left;
  width: 440px;
}

section.main_feature .details h4 {
  font-size: 25px;
  line-height: normal;
  margin-bottom: 0;
  font-family: Promo, Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 0;
}

section.main_feature .details p {
  font-size: 15px;
  margin-bottom: 15px;
}

section.main_feature .details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section.main_feature .details ul li {
  margin-bottom: 5px;
  font-size: 15px;
}

section.main_feature .details ul li:before {
  font-family: Linearicons;
  display: inline-block;
  font-weight: 400;
  speak: none;
  font-size: 25px;
  margin-top: 0;
  content: "\e6e2";
  position: relative;
  left: 0;
  top: 5px;
  margin-right: 11px;
}

section.main_feature .details ul li.realtime:before {
  content: "\e8da";
}

section.main_feature .details ul li.historical:before {
  content: "\e8e3";
}

section.main_feature .details ul li.forecasts:before {
  content: "\e786";
}

section.main_feature .details ul li.autocomplete:before {
  content: "\e784";
}

section.main_feature .details ul li.output:before {
  content: "\e90c";
}

section.main_feature .details ul li.bulk:before {
  content: "\e977";
}

section.main_feature img {
  float: right;
}

section.methods {
  background: #184157 url(../site_images/bg_waves_4.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 40px 0 40px 0;
  text-align: center;
  color: #fff;
}

section.methods h4 {
  font-size: 25px;
  line-height: normal;
  margin-bottom: 0;
  font-family: Promo, Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 0;
}

section.methods h4:before {
  content: "Example";
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  background: #416376;
  width: 100px;
  border-radius: 99px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 30px;
  margin-top: -5px;
  text-align: center;
  padding: 10px 0 11px 0;
}

section.methods h5 {
  font-size: 20px;
  line-height: normal;
  max-width: 600px;
  margin: 0 auto;
}

section.methods .result {
  display: block;
  background: #17242b;
  width: 673px;
  /* height: 500px */
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  overflow: auto;
  text-align: left;
}

section.methods .result pre {
  margin: 0;
  padding-bottom: 10px;
  max-height: 740px;
  display: none;
}

section.methods ul.buttons {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 40px;
}

section.methods ul.buttons li {
  display: inline-block;
  margin-left: -3px;
  margin-right: -2px;
}

section.methods ul.buttons li a {
  width: 225px;
  display: inline-block;
  padding: 16px 10px 18px 10px;
  background: #ffffff;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

section.methods ul.buttons li a.selected {
  background: #f47b21;
  border-color: #f47b21;
  color: #ffffff;
}

section.methods ul.buttons li:nth-child(1) a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

section.methods ul.buttons li:nth-child(3) a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

section.methods .more_features {
  text-align: center;
  margin-top: 40px;
}

section.methods .more_features ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

section.methods .more_features ul li {
  display: inline-block;
  width: 370px;
  padding: 14px 20px 15px 20px;
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
  line-height: normal;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-align: left;
}

section.methods .more_features ul li:nth-child(1),
section.methods .more_features ul li:nth-child(4) {
  margin-left: 0;
}

section.methods .more_features ul li:nth-child(3),
section.methods .more_features ul li:nth-child(6) {
  margin-right: 0;
}

section.methods .more_features ul li span.heading {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 15px;
  display: block;
}

section.methods .more_features ul li span.heading span.lnr {
  color: #fff;
  margin-bottom: 5px;
  font-size: 30px;
  vertical-align: middle;
  display: inline-block;
  text-transform: none;
  font-weight: 300;
  margin-right: 10px;
}

section.methods .more_features ul li p {
  margin: 0;
  margin-top: 8px;
  display: block;
}

.show {
  display: block !important;
}

section.show {
  background: #fff;
  padding: 40px 0;
  text-align: center;
}

section.show .boxes {
  background: #eff2f5;
  border-radius: 5px;
  padding: 18px 0 19px 0;
}

section.show .box {
  display: inline-block;
  width: 250px;
  text-align: left;
  margin: 0 12px;
  border-radius: 5px;
  vertical-align: text-top;
}

section.show .box h5 {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

section.show .box h5 span.lnr {
  display: block;
  font-weight: 400;
  speak: none;
  font-size: 30px;
  content: "\e959";
  position: relative;
  margin-bottom: 20px;
  text-align: left;
}

.social-links {
  display: flex;
  margin-top: 20px;
}

.social-logo {
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (min-width: 801px) {
  body,
  html {
    min-width: 1170px;
  }
}
.mobile_menu_icon,
.show_mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  body.banner_active .header ul {
    top: 121px;
  }
  .container.custom-container {
    display: block;
  }
  .container.custom-container ul {
    width: 100%;
  }
  .container,
  section .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  footer {
    padding: 30px 0 20px;
  }
  footer .container.custom-container {
    display: flex;
    flex-wrap: wrap;
  }
  footer .container.custom-container ul {
    width: 50%;
    text-align: left;
  }
  footer ul {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 20px;
    text-align: center;
  }
  footer .right_side {
    float: none;
    width: 100%;
    margin: 15px 0 0;
    text-align: center;
    order: 9;
    margin-top: 0;
  }
  footer .right_side img.logo {
    margin: 0 auto 20px;
  }
  footer .right_side table {
    width: 100%;
    text-align: center;
  }
  .header .lnr {
    display: block;
    position: absolute;
    top: 11px;
    right: 0;
    background-size: 100% 100% !important;
    margin-bottom: 5px;
    font-size: 30px;
    margin-right: 20px;
    vertical-align: middle;
    display: inline-block;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    color: #fff;
  }
  .header ul > li:not(.cta) > a:after,
  section.api_documentation .container .menu ul li a:after {
    right: 0;
    font-family: Linearicons;
    vertical-align: middle;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    content: "\e93c";
  }
  .header ul {
    display: none;
    background: #fff;
    color: #333;
    margin: 0;
    float: none;
    width: 100%;
    height: 100%;
    top: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    text-align: left;
  }
  .header ul > li {
    display: block;
    float: none;
    width: 100%;
    position: relative;
    padding: 5px 15px;
    border-radius: 0;
  }
  .header ul > li > a {
    color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: normal;
    border-radius: 0 !important;
    font-size: 16px;
    padding: 13px 5px 23px 15px !important;
    margin: 0 !important;
    font-weight: 300;
  }
  .header ul > li.status > a:before {
    display: none;
  }
  .header ul > li.action.cta > a {
    border-radius: 5px !important;
    padding: 20px 15px !important;
    text-align: center;
    font-weight: 600;
    margin-top: 10px !important;
  }
  .header ul > li:not(.cta) > a:after {
    position: absolute;
    top: 10px;
    background-size: 100% 100% !important;
    margin-bottom: 5px;
    font-size: 20px;
    margin-right: 20px;
    display: inline-block;
    font-weight: 600;
  }
  section.cta p a {
    margin: 0;
    width: 100%;
    display: block;
  }
  section.cta p span,
  section.dual_features ul li:before,
  section.hero .container div.detail span,
  section.pricing .container ul.subscriptions li .features_container ul li.feature_empty {
    display: none;
  }
  section.customers {
    white-space: nowrap;
    overflow: auto;
    padding-bottom: 40px;
  }
  section.customers ul li:nth-child(1) {
    display: none;
  }
  section.grid ul {
    text-align: center;
  }
  section.hero .container a.button {
    display: inline-block;
    height: auto;
    padding: 15px 15px;
    width: auto;
  }
  section.hero .container h2 {
    font-size: 25px;
    line-height: normal;
  }
  section.hero {
    padding-top: 100px;
    padding-bottom: 60px;
    margin-bottom: 0;
    height: auto;
    max-height: none;
  }
  section.hero .container .weather_animated {
    position: relative;
    margin-top: 45px;
    display: block;
    right: unset;
    top: unset;
    left: unset;
    width: auto;
  }
  section.hero .container .weather_animated .main_left {
    position: relative;
    float: none;
    display: inline-block;
    width: 137px;
  }
  section.hero .container .weather_animated .main_left i {
    left: 0;
    background-position-y: -30px;
    height: 103px;
  }
  section.hero .container .weather_animated .main_left span {
    left: 25px;
    top: 93px;
  }
  section.hero .container .weather_animated .main_right {
    float: none;
    position: relative;
    display: inline-block;
    right: unset;
    left: unset;
    width: auto;
    padding-top: 12px;
    text-align: right;
    vertical-align: top;
    width: 150px;
  }
  section.hero .container .weather_animated .week {
    white-space: nowrap;
    display: flex;
    padding-left: 0;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }
  section.hero .container .weather_animated .week .day {
    text-align: center;
    margin: 0 auto;
  }
  section.hero .container .weather_animated .week .day i {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 100%;
    left: unset !important;
    right: unset !important;
    top: unset !important;
    bottom: unset !important;
    background-position: center;
    background-position-y: 0px;
  }
  section.hero .container .weather_animated i.thunder,
  section.hero .container .weather_animated i.rainy {
    background-position-y: -3px !important;
  }
  section.hero .container .weather_animated .main_right span {
    display: block;
    position: relative;
  }
  section.hero .container .weather_animated .main_right .temperature {
    position: relative;
    left: unset;
    top: unset;
  }
  section.hero .container h4 {
    font-size: 18px;
    line-height: normal;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  section.hero .container h4 + .number_customers {
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 25px;
    width: auto;
    line-height: normal;
  }
  section.hero .inline {
    display: block;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
  }
  section.main_feature .details {
    float: none;
    width: 100%;
  }
  section.main_feature img {
    width: 100%;
    float: none;
    margin-top: 45px;
    padding: 0px 0 30px 0;
  }
  section.methods ul.buttons {
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    width: 220px;
    margin-top: 40px;
  }
  section.methods ul.buttons li {
    display: block;
  }
  section.methods ul.buttons li a {
    border-radius: 0 !important;
    display: block;
    margin: 0 auto;
  }
  section.methods .result {
    width: 100%;
    padding-right: 15px;
  }
  section.methods .more_features ul li {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  section.show .box {
    width: 85%;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .header ul > li:not(.cta) > a:after {
    position: unset;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header ul > li:not(.cta) > a:after {
    position: unset;
  }
}/*# sourceMappingURL=styles.css.map */